@model WebApplication2.Models.ThumbnailsModel

@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>
<div class="container">
    <div class="row">
                @foreach (var thumb in Model.thumbs)
                {
                    <div class="col-xs-6 cil-md-3">
                        
                            <figure href="#" class="img-thumbnail">
                   
                                <img src="data:image/jpg;base64,@Model.SingleBase64(@thumb.fullPath)" class="img-circle" hight="200" width="242"/>

                                <h4>@thumb.name</h4>
                                <p>Taken In @thumb.month/@thumb.year</p>


                                @Html.ActionLink("Delete", "DeletePhotoPressed", new { picNumber = thumb.picNumber }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("View", "ViewPhoto", new { picNumber = thumb.picNumber }, new { @class = "btn btn-danger" })
                            </figure>
                       
                    </div>
                  }
    </div>
</div>

